<?xml version="1.0"?>
<clickhouse>
    <openSSL>
        <server>
            <loadDefaultCAFile>false</loadDefaultCAFile>
            <caConfig>/tmp/ClickHouseData/Certificates/Generic/root.crt</caConfig>
            <privateKeyFile>/tmp/ClickHouseData/Certificates/Generic/server.key</privateKeyFile>
            <certificateFile>/tmp/ClickHouseData/Certificates/Generic/server.crt</certificateFile>
            <verificationMode>none</verificationMode>
            <cacheSessions>true</cacheSessions>
            <disableProtocols>sslv2,sslv3</disableProtocols>
            <preferServerCiphers>true</preferServerCiphers>
        </server>
        <client>
            <loadDefaultCAFile>false</loadDefaultCAFile>
            <caConfig>/tmp/ClickHouseData/Certificates/Generic/root.crt</caConfig>
            <cacheSessions>true</cacheSessions>
            <disableProtocols>sslv2,sslv3</disableProtocols>
            <preferServerCiphers>true</preferServerCiphers>
            <verificationMode>none</verificationMode>
            <invalidCertificateHandler>
                 <name>AcceptCertificateHandler</name>
            </invalidCertificateHandler>
        </client>
    </openSSL>
    <kafka>
        <security_protocol>SASL_SSL</security_protocol>
        <sasl_mechanism>PLAIN</sasl_mechanism>
        <sasl_username>HUKKTM2XJM2QVIV2</sasl_username>
        <sasl_password>gTPunEzDk/l96XTJdGbGx0tchlc6jS3Te8e+gAbxxcqwpNdU8+fiWhkoMMu6/2Hp</sasl_password>
    </kafka>
    <!--<kafka>
        <security_protocol>SSL</security_protocol>
        <ssl_ca_location>/tmp/ClickHouseData/Certificates/Kafka/root.crt</ssl_ca_location>
        <ssl_certificate_location>/tmp/ClickHouseData/Certificates/Kafka/client.crt</ssl_certificate_location>
        <ssl_key_location>/tmp/ClickHouseData/Certificates/Kafka/client.key</ssl_key_location>
        <ssl_key_password>secret</ssl_key_password>
        <ssl_endpoint_identification_algorithm>none</ssl_endpoint_identification_algorithm>
    </kafka>-->
    <http_port>8123</http_port>
    <https_port>8443</https_port>
    <tcp_port>9000</tcp_port>
    <tcp_port_secure>9440</tcp_port_secure>
    <logger>
        <level>Warning</level>
        <console>1</console>
        <!--<formatting>json</formatting>-->
    </logger>
</clickhouse>